{% extends '_layouts/elementindex' %}

{% set selectedSubnavItem = 'pricelists' %}

{% set elementType = 'nichxlson\\pricelists\\elements\\Pricelist' %}

{% if title is not defined %}
    {% set title = 'Pricelists' | t('pricelists') %}
{% endif %}

{% block actionButton %}
    <div class="btngroup">
        <a href="{{ cpUrl('pricelists/new') }}" class="btn submit add icon">{{ 'New Pricelist' | t('pricelist') }}</a>
    </div>
{% endblock %}