{% import '_includes/forms' as forms %}

<div class="create-pricelist-product" data-id="{{ productId ?? '' }}">
    <div class="create-pricelist-product-row pricelist-table-row">
        <div class="pricelist-table-cell">
            {{ forms.elementSelectField({
                id: 'customerIds',
                name: 'customerIds',
                elementType: 'craft\\elements\\User',
                selectionLabel: 'Select customer' | t('events'),
                elements: [],
                limit: 1,
                errors: [],
            }) }}
        </div>

        <div class="pricelist-table-cell">
        </div>

        <div class="pricelist-table-cell">
        </div>

        <div class="pricelist-table-cell thin">
            <a class="delete icon button" title="{{ 'Delete' | t }}" role="button"></a>
        </div>
    </div>
</div>